@model List<Slider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section id="container">


    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            SLIDER LİSTESİ
                            
                        </header>
                        <div class="panel-body">
                            <div class="adv-table editable-table ">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <button id="editable-sample_new" class="btn btn-primary" onclick="location.href='@Url.Action("Ekle","Slider")'">
                                            Yeni Slider Ekle <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="space15"></div>
                                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Başlık</th>
                                            <th>Açıklama</th>
                                            <th>Resim Yolu</th>
                                            <th>Baslangıç Tarihi</th>
                                            <th>Bitiş Tarihi</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr class="">
                                            <td>@item.SliderID</td>
                                            <td>@item.SliderBaslik</td>
                                            <td>@item.SliderAciklama</td>
                                            <td class="center">@item.SliderResimYolu</td>
                                            <td>@item.BaslangicTarih</td>
                                            <td>@item.BitisTarih</td>

                                            <td>@Html.ActionLink("Düzenle", "Edit", "Slider",new {id=item.SliderID} ,new { @class = "edit" })</td>
                                            <td>@Html.ActionLink("Sil", "Delete", "Slider", new {id=item.SliderID}, new { @class = "delete" })</td>
                                        </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>

<script src="../Areas/Admin/assets/js/table-editable.js"></script>


<script>
    jQuery(document).ready(function () {
        EditableTable.init();
    });</script>
