<!doctype html>
<html class="no-js" lang="zxx">
<head>

    @RenderSection("Scripts", false)
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Glaxdu - Education Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/assets/css/icons.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
    <header class="header-area">
        <div class="header-top bg-img" style="background-image:url(../../assets/img/icon-img/header-shape.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-12 col-sm-8">
                        <div class="header-contact">
                            <ul>
                                <li><i class="fa fa-phone"></i> 0505 555 6484</li>
                                <li><i class="fa fa-envelope-o"></i><a href="#">terapi@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-12 col-sm-4">
                        <div class="login-register">
                            <ul>

                                <li>@Html.ActionLink("English", "Index", "Home", new { diluzanti = "en" }, null)</li>
                                <li>@Html.ActionLink("Türkçe", "Index", "Home", new { diluzanti = "tr" }, null)</li>
                                <li>  @Html.Partial("_LoginPartial")</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-bar clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-4">
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")"><img src="/assets/img/logo/logo.png" />  </a>

                        </div>
                    </div>
                    <div class="col-lg-10 col-md-6 col-8">
                        <div class="menu-cart-wrap">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            @Html.ActionLink(Resources.Index.anasayfa, "Index", "Home")
                                        </li>
                                        <li>@Html.ActionLink(Resources.Index.hakkimizda, "Hakkimizda", "Home")</li>
                                     
                                        
                                        <li>@Html.ActionLink(Resources.Index.iletisim, "Iletisim", "Home")</li>

</ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-area">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li>
                                    @Html.ActionLink(Resources.Index.anasayfa, "Index", "Home")
                                </li>
                                <li>@Html.ActionLink(Resources.Index.hakkimizda, "Hakkimizda", "Home")</li>

                               
                                
                                <li>@Html.ActionLink(Resources.Index.iletisim, "Iletisim", "Home")</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer-area">
        <div class="footer-top bg-img default-overlay pt-130 pb-80" style="background-image:url(../../assets/img/bg/footerbg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-title">
                                <h4>HAKKIMIZDA</h4>
                            </div>
                            <div class="footer-about">
                                <p>
                                    Bireylere ihtiyaç duydukları psikolojik desteği sunmak ve çalışmakta olan meslektaşlarımıza
                                    mesleki gelişimlerini destekleyecek      hizmeti sağlamaktayız.
                                </p>
                                <div class="f-contact-info">
                                    <div class="single-f-contact-info">
                                        <i class="fa fa-home"></i>
                                        <span>Serdivan,Sakarya</span>
                                    </div>
                                    <div class="single-f-contact-info">
                                        <i class="fa fa-envelope-o"></i>
                                        <span><a href="#">terapi@gmail.com</a></span>
                                    </div>
                                    <div class="single-f-contact-info">
                                        <i class="fa fa-phone"></i>
                                        <span> 0505 555 6484</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-title">
                                <h4>Hızlı Linkler</h4>
                            </div>
                            <div class="footer-list">
                                <ul>
                                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Hakkımızda", "Hakkimizda", "Home")</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer-widget negative-mrg-30 mb-40">
                            <div class="footer-title">
                                <h4>Programlar</h4>
                            </div>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="#">Travma Terapileri </a></li>
                                    <li><a href="#">Oyun Terapileri </a></li>
                                    <li><a href="#">Aile Terapileri</a></li>
                                    <li><a href="#">Bilişsel Davranışçı Terapiler</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom pt-15 pb-15">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="copyright">
                            <p>
                                Copyright ©
                                <a href="#">SAU</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="footer-menu-social">
                            <div class="footer-menu">
                                <ul>
                                    <li><a>Sosyal Medya Hesaplarımız</a></li>
                                </ul>
                            </div>
                            <div class="footer-social">
                                <ul>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>






    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Popper JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="~/assets/js/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>